@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
body {
  font-family: 'Nunito', sans-serif;
  background-color: aliceblue;
}

#quiz{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 5;
}

 .modal{
  z-index: 10000;
}

.incorrect {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 8px 15px; }

.correct {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 8px 15px; }

.option {
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px; 
  padding: 8px 15px;}

@media (min-width: 992px) {
    .option {
      min-height: 200px;
      margin-top: 50%;
    }
}

  .option:hover{
      color: #004085;
      background: #cce5ff;
      border: 1px solid #b8daff;
  }

.text-blue {
  color: var(--color);
}

#time_line{
  /*position: absolute;*/
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: #007bff;
}